HELP.md
#.gradle
#/build/
#!gradle/wrapper/gradle-wrapper.jar
src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.gitignore 제거할 예정
build.gradle 제거할 예정
gradle/ 제거할 예정
gradlew 제거할 예정
gradlew.bat 제거할 예정
settings.gradle 제거할 예정
src/ 제거할 예정
.gradle/ 제거할 예정
build/ 제거할 예정
