<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음식점 게시판</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body class="container">

<div class="jumbotron">
    <h2>JMT</h2>
</div>

<table class="table">
    <tr>
        <th>글 번호</th>
        <th>메뉴</th>
        <th>설명</th>
        <th>가격</th>
    </tr>
    <tr th:each="i: ${#numbers.sequence(1, 10)}">
        <td th:text="${i}"></td>
        <td th:text="글쓴이 + ${i}"></td>
        <td th:text="제목 + ${i}"></td>
    </tr>
</table>


<nav style="text-align: center;">
    <ul class="pagination">
        <li class="disabled">
            <a href="#" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li>
            <a href="#" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>